@model MovieDetailsViewModel


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageUrl" width="400" height="600" alt="Cover image for @Model.Title" />
        </div>
        <div class="col-md-7">
            <h1>@Model.Title</h1>
            <h3>
                Director: <a asp-area="" asp-controller="Directors" asp-action="Details" asp-route-id="@Model.Director.Id">
                    @Model.Director.FullName
                </a>
            </h3>
            <h3>Lenght: @Model.Lenght minutes</h3>
            <h3>Actors: @Model.Actors </h3>
            <h3>ReleaseDate: @Model.ReleaseDate</h3>
            <h3>Description: @Model.Description</h3>                         
</div>


